<launch>
  <param name="robot_description" textfile="$(find bring_up)/urdf/justina_simple.urdf" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find bring_up)/worlds/apartment_fast.world"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up)/rviz/justina_simple.rviz"/>
  <node name="simple_gui" pkg="simple_gui" type="simple_gui_node"/>
  <node name="mobile_base" pkg="mobile_base_simul" type="mobile_base_simul.py"/>
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find bring_up)/maps/appartment.yaml"/>
  <node name="amcl" pkg="amcl" type="amcl" output="screen"/>
</launch>
